<!DOCTYPE HTML>
<html>
    <head>
        <title>Алексей Степанков</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#9f00a7">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="app/assets/app.css" />
        <link rel="stylesheet" href="app/assets/vendor/angular/angular-csp.css" />
        <script src="app/assets/vendor/angular/angular.min.js"></script>
    </head>
    <body class="loading" ng-app="app">
        <div id="wrapper">
            <main>
                    <section class="block left-block" ng-controller="SocialController as social">
    <header>
        <h1>Я в сети</h1>
    </header>
    <footer>
        <ul class="links" ng-init="social.loadLinks()">
            <li ng-repeat="link in social.getLinks()">
                <a
                        href="[[ link.name ]]"
                        target="_blank"
                >
                    [[ link.url ]]
                </a>
            </li>
        </ul>
    </footer>
</section>
                    <section class="block center-block" ng-controller="ProfileController as profile">
    <header>
        <span class="avatar">
            <img src="app/assets/profile/images/avatar.png" alt=""/>
        </span>
        <h1g>Алексей Степанков</h1g>
        <p>Ведущий разработчик</p>
    </header>
    <main>
        <ul class="icons">
            <li>
                <a
                        href="https://github.com/alexstepankov"
                        target="_blank"
                        class="fa-github">
                    github
                </a>
            </li>
            <li>
                <a
                        href="https://www.linkedin.com/in/alexstepankov/"
                        target="_blank"
                        class="fa-linkedin">
                    linkedin
                </a>
            </li>
            <li>
                <a
                        href="https://stackoverflow.com/users/2728796/alexstepankov"
                        target="_blank"
                        class="fa-stack-overflow">
                    stackoverflow
                </a>
            </li>
        </ul>

        
    </main>
    
</section>
                    <section class="block right-block" ng-controller="PortfolioController as portfolio">
    <header>
        <h1>Портфолио</h1>
    </header>
    <footer>
        <ul class="projects" ng-init="portfolio.loadProjects()">
            <li ng-repeat="project in portfolio.getProjects()">
                Проект #[[ project.name ]]
            </li>
        </ul>
    </footer>
</section>
                </main>
            <footer id="footer">
                <ul class="copyright">
                    <li>&copy;Алексей Степанков</li>
                </ul>
            </footer>
        </div>
        <script src="app/assets/app.js"></script>
        <script src="app/assets/common/common.js"></script>
        <script src="app/assets/common/js/providers/FileProvider.js"></script>
        <script src="app/assets/common/js/providers/FakeProvider.js"></script>
        <script src="app/assets/common/js/services/CrawlerService.js"></script>
        <script src="app/assets/social/js/controllers/SocialController.js"></script>
        <script src="app/assets/profile/js/controllers/ProfileController.js"></script>
        <script src="app/assets/portfolio/js/controllers/PortfolioController.js"></script>
    </body>
</html>