<section class="block center-block" ng-controller="ProfileController as profile">
    <header>
        <span class="avatar">
            <img src="{{ env.path.assets }}/profile/images/avatar.png" alt=""/>
        </span>
        <h1 class="me">{{ me.name }}<br/>{{ me.surname }}</h1>
        <p>{{ position }}</p>
    </header>
    <main>
        <ul class="icons">
            <li>
                <a
                        href="https://github.com/alexstepankov"
                        target="_blank"
                        class="fa-github">
                    github
                </a>
            </li>
            <li>
                <a
                        href="https://www.linkedin.com/in/alexstepankov/"
                        target="_blank"
                        class="fa-linkedin">
                    linkedin
                </a>
            </li>
            <li>
                <a
                        href="https://stackoverflow.com/users/2728796/alexstepankov"
                        target="_blank"
                        class="fa-stack-overflow">
                    stackoverflow
                </a>
            </li>
        </ul>

        {% if env.env == 'development' %}
        <a
                href="#"
                class="icon fa-chevron-circle-down"
                ng-click="profile.setExpand()"
                ng-class="profile.isExpand() ? 'active' : ''"
        >
            Подробнее
        </a>
        {% endif %}
    </main>
    {% if env.env == 'development' %}
    <footer ng-show="profile.isExpand()">
        <hr />
        <h2>Подробнее</h2>
        <hr />
    </footer>
    {% endif %}
</section>