.center-block {
	position: relative;

	.avatar {
		position: relative;
		display: block;
		margin-bottom: _size(element-margin);

		img {
			display: block;
			margin: 0 auto;
			border-radius: 100%;
			box-shadow: 0 0 0 1.5em _palette(bg);
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: -1em;
			width: calc(100% + 2em);
			height: _size(border-width);
			z-index: -1;
			background: _palette(border);
		}
	}

	@include breakpoint(xsmall) {
		.avatar {
			&:before {
				left: -2em;
				width: calc(100% + 4em);
			}
		}
	}
}