<div id="wrapper">
    <section id="main">
        <header>
			<span class="avatar">
				<img src="{{ env.path.assets }}/profile/images/avatar.png" alt=""/>
			</span>
            <h1>{{ me }}</h1>
            <p>{{ position }}</p>
        </header>
        <footer>
            <ul class="icons">
                <li>
                    <a
                            href="https://github.com/alexstepankov"
                            target="_blank"
                            class="fa-github">
                        github
                    </a>
                </li>
                <li>
                    <a
                            href="https://www.linkedin.com/in/alexstepankov/"
                            target="_blank"
                            class="fa-linkedin">
                        linkedin
                    </a>
                </li>
                <li>
                    <a
                            href="https://stackoverflow.com/users/2728796/alexstepankov"
                            target="_blank"
                            class="fa-stack-overflow">
                        stackoverflow
                    </a>
                </li>
            </ul>
        </footer>
    </section>
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; {{ me }}</li>
        </ul>
    </footer>
</div>