<section id="right-block">
    <header>
        <h1>Портфолио</h1>
    </header>
    <footer>
        <ul class="projects">
            <li>
                Проект #1
            </li>
        </ul>
    </footer>
</section>