<section class="block right-block" ng-controller="PortfolioController as portfolio">
    <header>
        <h1>Портфолио</h1>
    </header>
    <footer>
        <ul class="projects" ng-init="portfolio.loadProjects()">
            <li ng-repeat="project in portfolio.getProjects()">
                Проект #[[ project.name ]]
            </li>
        </ul>
    </footer>
</section>