$breakpoints: (
  xlarge: "(max-width: 1680px)",
  large: "(max-width: 1280px)",
  medium: "(max-width: 960px)",
  small: "(max-width: 736px)",
  xsmall: "(max-width: 480px)",
  xxsmall: "(max-width: 360px)",
);

$font: (
  family: (
    "Source Sans Pro",
    Helvetica,
    sans-serif,
  ),
  family-fixed: (
    "Courier New",
    monospace,
  ),
  weight: 300,
);

$size: (
  border-radius: 4px,
  border-width: 1px,
  element-height: 2.75em,
  element-margin: 1.5em,
  letter-spacing: 0.2em,
);

$duration: (
  transition: 0.2s,
  bg: 1.75s,
  main: 1s,
);

@function _duration($keys...) {
  @return val($duration, $keys...);
}

@function _size($keys...) {
  @return val($size, $keys...);
}

@function _font($keys...) {
  @return val($font, $keys...);
}

@function val($map, $keys...) {
  @if nth($keys, 1) == null {
    $keys: remove-nth($keys, 1);
  }

  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@mixin breakpoint($breakpoint: null, $queries: null) {
  $query: "screen";

  // Breakpoint.
  @if $breakpoint and map-has-key($breakpoints, $breakpoint) {
    $query: $query + " and " + map-get($breakpoints, $breakpoint);
  }

  // Queries.
  @if $queries {
    @each $k, $v in $queries {
      $query: $query + " and (" + $k + ":" + $v + ")";
    }
  }

  @media #{$query} {
    @content;
  }
}

/* semantic color variables for this project */
:root {
  --base-white: #ffffff;
  --base-white-soft: #f8f8f8;
  --base-white-border: #c8cccf;
  --base-black: #181818;
  --base-black-soft: #222222;
  --base-black-border: #282828;

  --section-gap: 160px;

  --color-background-fade: #000000;
  --color-app-text: var(--base-black-soft);
  --color-app-text-bold: var(--base-black-soft);
  --color-app-white: var(--base-white);
  --color-app-black: var(--base-black-soft);
  --color-app-bg: var(--base-white);
  --color-app-highlight: #ff7496;
  --color-app-border: var(--base-black-border);
  --color-app-accent1: #ffa596;
  --color-app-accent1-rgb: 255,165,150;
  --color-app-accent2: #00e4ff;
  --color-app-accent2-rgb: 0,228,255;

  --random-bg: url('https://picsum.photos/1920/1080/?random&blur');
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-app-text: var(--base-white-soft);
    --color-app-text-bold: var(--base-white);
    --color-app-white: var(--base-black-soft);
    --color-app-black: var(--base-white);
    --color-app-bg: var(--base-black-soft);
    --color-app-highlight: #ff7496;
    --color-app-border: var(--base-white-border);
    --color-app-accent1: #e1dfe8;
    --color-app-accent1-rgb: 225, 223, 232;
    --color-app-accent2: #616f77;
    --color-app-accent2-rgb: 97, 111, 119;

    --random-bg: url('https://picsum.photos/1920/1080/?random&blur&grayscale');
  }
}
