<section id="left-block">
    <header>
        <h1>Блог</h1>
    </header>
    <footer>
        <ul class="posts">
            <li>
                Пост #1
            </li>
        </ul>
    </footer>
</section>