<section class="block left-block" ng-controller="SocialController as social">
    <header>
        <h1>Я в сети</h1>
    </header>
    <footer>
        <ul class="links" ng-init="social.loadLinks()">
            <li ng-repeat="link in social.getLinks()">
                <a
                        href="[[ link.name ]]"
                        target="_blank"
                >
                    [[ link.url ]]
                </a>
            </li>
        </ul>
    </footer>
</section>