.me {
  font-weight: 900;
  letter-spacing: 0.3em;
  line-height: 1em;
  margin-left: 0.3em;
}

.details {
  line-height: normal;
}

.block-main {
  margin: 3em 0;

  .project-button {
    width: 65px;
    cursor: pointer;

    svg:last-child {
      visibility: hidden;
    }
  }

  .project-button:hover {
    span {
      visibility: hidden;
    }

    svg:first-child {
      visibility: hidden;
    }

    svg:last-child {
      visibility: visible;
    }
  }
}

.block {
  max-width: 100%;
  min-width: 27em;
  padding: 3em 1em;
  box-shadow: 0 0 1px 1px var(--color-app-black) inset;

  background: var(--color-app-bg);
  border-radius: _size(border-radius);
  cursor: default;
  opacity: 0.95;
  text-align: center;

  transform-origin: 50% 50%;
  transform: rotateX(0deg);
  transition:
    opacity #{_duration(main)} ease,
    transform #{_duration(main)} ease;

  @media (max-width: 480px) {
    min-width: 0;
    width: 100%;
    padding: 4em 2em;
  }

  body.loading & {
    opacity: 0;
    transform: rotateX(15deg);
  }
}

.center-block {
  position: relative;

  .avatar {
    position: relative;
    display: block;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 100%;
      box-shadow: 0 0 50px 0px var(--color-background-fade) inset;
      background-color: var(--base-black-soft);
      //border: 1px solid var(--color-app-white);
      pointer-events: none;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -1em;
      width: calc(100% + 2em);
      height: _size(border-width);
      z-index: -1;
      background: var(--color-app-border);
    }
  }

  @media (max-width: 480px) {
    .avatar {
      &:before {
        left: -2em;
        width: calc(100% + 4em);
      }
    }
  }
}

.block-footer {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;

  .button {
    box-shadow: 0 0 5px 0px var(--color-app-black);
  }

  .button:hover {
    box-shadow: 0 0 5px 0px var(--color-app-black) inset;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border: solid 1px var(--color-app-border);
    color: var(--color-app-border);
  }

  a:hover {
    border-color: var(--color-app-black);
    color: var(--color-app-black);
  }

  @media screen and (max-width: 480px) {
    a svg {
      font-size: 1.5rem;
    }
  }
}

footer {
  align-self: flex-end;
  width: 100%;
  padding: _size(element-margin) 0 0 0;
  cursor: default;
  text-align: center;

  span {
    box-shadow: 0 0 1px 1px var(--color-app-black) inset;
    background: var(--color-app-white);
    border-radius: 1em;
    padding: 5px 15px;
  }
}
